    
    body {
      margin: 0;
      height: 100vh;
      background-color: #FFFFFF; /* color inicial */
      animation: respirar 8s infinite alternate;
      color: #111; /* texto visible sobre fondo oscuro */
      font-family: system-ui, sans-serif;
      text-align: center;
    }
body {
padding: 2% 30%;}
  
@media (max-width: 700px){
body {
padding: 2% 10%;}
}

/* Efecto de fondo respirando */
   @keyframes respirar {
  0%   { background-color: #FFFFFF; }
  25%  { background-color: #F0F0F0; }
  50%  { background-color: #E0E0E0; }
  75%  { background-color: #F0F0F0; }
  100% { background-color: #FFFFFF; } 
}

/* Configuración para estilo visual de enlaces */
.l {
      color: inherit;          /* mismo color que el texto */
      text-decoration: none;   /* sin subrayado */
      cursor: pointer;         /* sin la manito */
      pointer-events: auto;    /* mantiene el click activo */
    }
